<footer>
  <section class="first">
    <div class="left">
      <div class="logo">
        <img src="https://muthonimn.github.io/static-restaurant-website/img/japanese-food.png" alt="">
        <h2>Bistro Bliss</h2>
      </div>
      <p>
        In the new era of technology we look a in the future with certainty and pride to for our company and.
      </p>
      <div class="social">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-github"></i>
      </div>
    </div>
    <div class="mid">
      <div class="mid-left">
        <p>Pages</p>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Menu</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Delivery</a></li>
        </ul>
      </div>
      <div class="mid-right">
        <p>Utility Pages</p>
        <ul>
          <li>Start Here</li>
          <li>Styleguide</li>
          <li>Password Protected</li>
          <li>404 Not Found</li>
          <li>Licenses</li>
          <li>Changelog</li>
          <li>View More</li>
        </ul>
      </div>
    </div>
    <div class="right">
      <p>Follow Us On Instagram</p>
      <div>
        <img src="https://muthonimn.github.io/static-restaurant-website/img/pexels-steve-3789885%201.png" alt="">
        <img src="https://muthonimn.github.io/static-restaurant-website/img/eiliv-aceron-d5PbKQJ0Lu8-unsplash%201.png" alt="">
        <img src="https://muthonimn.github.io/static-restaurant-website/img/pexels-ella-olsson-1640772%201.png" alt="">
        <img src="https://muthonimn.github.io/static-restaurant-website/img/pexels-ash-376464%201.png" alt="">
      </div>
    </div>
  </section>
  <section class="second">
    <p>Copyright © 2023 Hashtag Developer. All Rights Reserved</p>
  </section>
</footer>
