<section class="second">
  <div class="main">
    <div class="left">
      <h2>You can order through apps</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit enim bibendum sed et aliquet aliquet risus tempor semper.</p>
    </div>
    <div class="right">
      <div class="top">
        <div class="card1">
          <img src="./Group3.png" alt="">
        </div>
        <div class="card2">
          <img src="./Vectorr.png" alt="">
        </div>
        <div class="card3">
          <img src="./Vector22.png" alt="">
        </div>
      </div>
      <div class="mid">
        <div class="card1">
          <img src="./Vector.png" alt="">
        </div>
        <div class="card2">
          <img src="./Group.png" alt="">
        </div>
        <div class="card3">
          <img src="./Vector2.png" alt="">
        </div>
      </div>
      <div class="bottom">
        <div class="card1">
          <img src="./Group39981.png" alt="">
        </div>
        <div class="card2">
          <img src="./Group39980.png" alt="">
        </div>
        <div class="card3">
          <img src="./Group39979.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
