
<header>
  <div class="head">
    <div class="phoneMail">
      <div class="headPhone">
        <i class="fa-solid fa-phone"></i>
        <p>(414) 857 - 0107</p>
      </div>
      <div class="headMail">
        <i class="fa-regular fa-envelope"></i>
        <p>yummybistrobliss</p>
      </div>
    </div>
    <div class="headSocial">
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i>
    </div>
  </div>
  <div class="nav">
    <nav>
      <label for="">
          <img src="https://muthonimn.github.io/static-restaurant-website/img/japanese-food.svg" alt="">
          <h1>Bistro Bliss</h1>
      </label>
      <div class="navigation">
        <ul>
            <li><a routerLink = "home" routerLinkActive = "active">Home</a></li>
            <li><a>About</a></li>
            <li><a routerLink = "menu" routerLinkActive = "active">Menu</a></li>
            <li><a>Pages</a></li>
            <li><a routerLink="contact" routerLinkActive = "active">Contact</a></li>
        </ul>
        <a class="button" routerLink = "book-a-table">Book A Table</a>
      </div>
      <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
              <i class="fa-solid fa-bars"></i>
          </label>
  </nav>
  </div>
</header>
