<main class="land">
  <div class="main">
    <div class="contant">
      <h1>Best food for your taste</h1>
      <p>Discover delectable cuisine and unforgettable moments in our welcoming, culinary haven.</p>
    </div>
    <div class="btn">
      <a class="btn-book" routerLink = "/book-a-table">Book A Table</a>
      <a class="btn-menu" routerLink = "/menu">Explore Menu</a>
    </div>
  </div>
</main>
<section class="sec-menu">
    <div class="menu-cards">
      <h2>Browse Our Menu</h2>
      <div class="cards">
        <div class="card">
          <div class="img">
            <img src="https://muthonimn.github.io/static-restaurant-website/img/tea%201.png" alt="">
          </div>
          <h3>Breakfast</h3>
          <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
          <a href="">Explore Menu</a>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://muthonimn.github.io/static-restaurant-website/img/Vector.png" alt="">
          </div>
          <h3>Main Dishes</h3>
          <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
          <a href="">Explore Menu</a>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://muthonimn.github.io/static-restaurant-website/img/Vector%20(1).png" alt="">
          </div>
          <h3>Drinks</h3>
          <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
          <a href="">Explore Menu</a>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://muthonimn.github.io/static-restaurant-website/img/Vector%20(2).png" alt="">
          </div>
          <h3>Desserts</h3>
          <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
          <a href="">Explore Menu</a>
        </div>
      </div>
    </div>
</section>
